@model IEnumerable<Taxver.Models.Conductor>

@{
    ViewData["Title"] = "Agregar";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Ver unidades</h4>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <input id="controller" type="hidden" value="Conductores" />
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                </div>
                <table id="table" class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IdPersonaNavigation.Nombre)
                            </th>
                            <th>
                                Apellido paterno
                            </th>
                            <th>
                                Apellido materno
                            </th>
                            <th>
                                Unidad asignada
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdPersonaNavigation.Status)
                            </th>
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPersonaNavigation.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPersonaNavigation.ApellidoPaterno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdPersonaNavigation.ApellidoMaterno)
                                </td>
                                <td>
                                    @if (item.IdVehiculo == 1)
                                    {
                                        @Html.DisplayName("Sin unidad");
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.Marca)
                                        @Html.DisplayName(" ")
                                        @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.Modelo)
                                        @Html.DisplayName(" ")
                                        @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.Numero)
                                    }
                                </td>
                                <td id="status-@Html.DisplayFor(modelItem => @item.IdConductor)">
                                    @if (item.Status == 1)
                                    {
                                        <button value="@item.IdConductor" class="baja btn btn-success">Activo</button>
                                    }
                                    else if (item.Status == 2)
                                    {
                                        <button value="@item.IdConductor" class="alta btn btn-danger">Inactivo</button>
                                    }
                                    else
                                    {
                                        <button value="@item.IdConductor" class="alta btn btn-warning" disabled>Ocupado</button>
                                    }
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdConductor" class="btn btn-secondary"><i class="mdi mdi-account-edit"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>